section.breadcrumbwrap.clearfix
	.breadcrumbimg
		img(src="img/breadcrumb/1.jpg", alt="")
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Định cư mỹ
				meta(itemprop='position', content='2')
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.news-page.clearfix
				.newsmain-img
					img(src="img/news/7.jpg", alt="")
				h1.newspage-name DIỆN HÔN PHU – HÔN THÊ XÁC SUẤT ĐẬU VISA SẼ CAO HƠN?
				.newsdetail.clearfix
					time ngày 28/3/2017
					.share
						img(src="img/share.jpg", alt="")
				.content
					p Câu hỏi của một bạn email về hòm thư visatrongtamtay@gmail.com như sau:
					p
						i “Mình và bạn trai đang có ý định kết hôn để bảo lãnh qua U.S nhưng chưa biết chọn cách bảo lãnh nào cho thuận tiện. Bạn trai mình là công dân U.S gốc Việt (sinh ra và lớn lên tại U.S). Hiện tại anh ấy là sinh viên ĐH đang đi học tại Bang Cali. Bọn mình dự định tiến hành làm hồ sơ bảo lãnh vào tháng 5 năm sau khi anh ấy về VN trong dịp summer holidays nhưng mình vẫn đang lưỡng lự giữa 2 diện bảo lãnh theo diện vợ chồng hoặc bảo lãnh dạng hôn phu -hôn thê thì diện nào sẽ nhanh chóng và thuận tiện hơn. Xin nhờ các chuyên viên tư vấn giúp mình về vấn đề này .Chân thành cám ơn rất nhiều"
					p Nếu các bạn nào cũng đang băn khoăn không biết nên chọn mở hồ sơ bảo lãnh theo diện K1 hay vợ chồng như bạn trên đây, diện nào có xác suất đạt visa cao hơn. Chúng tôi sẽ phân tích ưu và nhược điểm của mỗi diện để các bạn có thể lựa chọn phù hợp với hoàn cảnh của mình.
					p 
						strong HÔN PHU – HÔN THÊ
					p Thời gian xử lý hồ sơ: 4-10 tháng
					p 
						strong Ưu điểm: 
					ul 
						li Thời gian xử lý nhanh
						li Không cần ĐKKH tại Việt Nam
						li Phí chính phủ thấp hơn ( Sở di trú: 340$; LSQ:160$)
						li Thủ tục về hồ sơ đơn giản hơn
					p 
						strong Nhược điểm:
					ul 
						li Phải ĐKKH trong vòng 90 ngày nếu không sẽ bị trục xuất về nước
						li Thời gian xử lý nhanh sẽ không phù hợp cho những hồ sơ yếu bằng chứng
						li Đương đơn sẽ không được hưởng quyền lợi khi chưa ĐKKH
					p 
						strong VỢ CHỒNG
					p Thời gian xử lý hồ sơ: 8-12 tháng (chậm nhất là 18 tháng)
					p 
						strong Ưu điểm: 
					ul 
						li Không cần ĐKKH lại khi đến Hoa Kỳ
						li Đương đơn sẽ có thẻ xanh và các quyền lợi của thường trú nhân.
						li Thời gian xử lý lâu sẽ là cơ hội tạo bằng chứng nếu bằng chứng của mình còn yếu
					p 
						strong Nhược điểm:
					ul
						li ĐKKH có yếu tố nước ngoài phải mất thời gian ít nhất 15 ngày.
						li Phí chính phủ cao hơn ( Sở di trú: 420$; NVC:120$+325$)
						li Thủ tục hồ sơ phức tạp hơn.
					p Theo những ưu điểm và nhược điểm nêu trên thì không có diện nào là được ưu tiên cấp visa dễ hơn. Đinh cư Mỹ theo diện Hôn phu – Hôn thê hay Vợ Chồng đều phải chung sống với nhau 2 năm để thử thách. Sau khi hết 2 năm các bạn vẫn duy trì tình trạng hôn nhân thì sẽ được chuyển đổi thẻ xanh 10 năm. Thêm vào đó, nếu các bạn sống tại Mỹ đủ 3 năm thì được thi quốc tịch. Nên tùy vào điều kiện cụ thể của từng trường hợp, quỹ thời gian ở tại Việt Nam của Người bảo lãnh để lựa chon hình thức mở hồ sơ cho phù hợp. Diện hồ sơ không quyết định bạn đâu hay rớt visa, nếu bằng chứng bạn tốt, thể hiện tốt trong buổi phỏng vấn thì các bạn sẽ thành công.
				.us-info
					p Với đội ngũ cố vấn chuyện nghiệp, giàu kinh nghiệm, U.S Visa tự hào là đơn vị đã thành công với hàng trăm bộ hồ sơ trong nhiều năm qua
						br
						|U.S Visa cam kết mang lại chất lượng dịch vụ đỉnh cao 5 sao
						br
						|Sứ mệnh của chúng tôi chính là mang đến cho các bạn sự khởi đầu tương lai tốt đẹp tại Mỹ
						br
						|Sự thành công của bạn chính là giá trị cốt lõi của chúng tôi 
					ul 
						li Hotline: 
							a(href="tel:0909 504 709") 0909 504 709 
							|– 
							a(href="tel:0963 870 848") 0963 870 848
						li Website: 
							a(href="http://usvisa.com.vn") usvisa.com.vn
						li Email: 
							a(href="mailto:info@usvisa.com.vn") info@usvisa.com.vn

				.register-info.clearfix
					.module-title Đăng ký thông tin bên dưới để được chuyên viên tư vấn tiếp nhận tư vấn hồ sơ miễn phí
					.form-group
						label(for="") Họ và tên(*):
						input(type="text")
					.form-group
						label(for="") Số điện thoại:
						input(type="text")
					.form-group
						label(for="") Email:
						input(type="text")
					.form-group
						label(for="") Nội dung yêu cầu:
						textarea(name="", cols="30", rows="5")
					input(type="submit", value="Gửi yêu cầu")
		.col-xs-12.col-lg-3
			a.btn-backpage(href="#") Quay lại
			nav.sidebar-category.clearfix
				.othertitle Định cư Mỹ
				ul 
					li
						a(href="#") Bão lãnh gia đình
					li 
						a(href="#") Bão lãnh vợ hoặc chồng
					li.active
						a(href="#") Bão lãnh hôn phu hôn thê
					li 
						a(href="#") Bão lãnh đồng tính
			nav.other-news.clearfix
				.othertitle Bài viết mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Diện hôn phu - hôn thê xác suất đậu VISA sẽ cao hơn ?
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Đương đơn hồ sơ bảo lãnh hôn phu hôn thê phải làm gì?
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Điều cần tránh khi tạo bằng chứng cho hồ sơ hôn phu hôn thê
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Chứng minh mối quan hệ trong hồ sơ bảo lãnh hôn phu hôn thê
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Chứng minh khả năng tài chính để mở hồ sơ bảo lãnh
