section.breadcrumbwrap.clearfix
	.breadcrumbimg
		img(src="img/breadcrumb/1.jpg", alt="")
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Định cư mỹ
				meta(itemprop='position', content='2')
section.news-page.clearfix
	.container
		.pagetitle Định cư mỹ
		.pagedes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt delectus incidunt doloribus dignissimos nam ipsa dolore, cumque aspernatur iste facere consequuntur fugit enim adipisci minima ratione quasi saepe tempora totam id, aliquam quam praesentium nemo debitis. Repudiandae quos, aperiam suscipit veniam quo, at perspiciatis voluptatibus aut, assumenda vero provident nulla.
		nav.page-category.clearfix
			ul 
				li
					a(href="#") Bão lãnh gia đình
				li 
					a(href="#") Bão lãnh vợ hoặc chồng
				li.active
					a(href="#") Bão lãnh hôn phu hôn thê
				li 
					a(href="#") Bão lãnh đồng tính
		.newslist.clearfix
			.row.flex.flex-wrap
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Diện hôn phu - hôn thê xác suất đậu VISA sẽ cao hơn ?
								time ngày 28/3/2017
								.newsdes Gia đình là tình cảm thiêng liêng nhất đối với mỗi con người, việc đoàn tụ gia đình bên nước mỹ và đảm bảo định cư...
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/2.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Đương đơn hồ sơ bảo lãnh hôn phu hôn thê phải làm gì?
								time ngày 28/3/2017
								.newsdes Đương đơn mở hồ sơ diện bảo lãnh hôn phu/hôn thê cần phải hoàn thành các thủ tục quan trọng còn lại ngay sau khi... 
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/3.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Điều cần tránh khi tạo bằng chứng cho hồ sơ hôn phu hôn thê
								time ngày 28/3/2017
								.newsdes Có nhiều trường hợp hồ sơ bảo lãnh theo diện con mồ côi khi cha hoặc mẹ ruột của đứa trẻ còn sống nhưng không... 
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/4.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Chứng minh mối quan hệ trong hồ sơ bảo lãnh hôn phu hôn thê
								time ngày 28/3/2017
								.newsdes Bảo lãnh anh chị em là diện bảo lãnh được nhiều người Việt quan tâm hiện nay vì họ rất mong muốn được cùng... 
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/5.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Chứng minh khả năng tài chính để mở hồ sơ bảo lãnh
								time ngày 28/3/2017
								.newsdes Có nhiều trường hợp hồ sơ bảo lãnh theo diện con mồ côi khi cha hoặc mẹ ruột của đứa trẻ còn sống nhưng không... 
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/6.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Các sai lầm thường gặp khi làm hồ sơ bảo lãnh hôn phu hôn thê
								time ngày 28/3/2017
								.newsdes Con cái và cha mẹ đã nhiều năm xa cách khi có cơ hội đoàn tụ là một điều tuyệt vời. Tuy nhiên khi mở hồ sơ bảo ...
			.pages
				ul.pagination
					li 
						a(href="#") 1
					li.active
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4
