
section.client-result.clearfix(style="")
	.container
		h2.bigtitle.text-xs-center Thành công
			.title Của khách hàng
		.result-list
			.item
				.result-img
					img(src="img/client/f1.jpg", alt="")
			.item
				.result-img
					img(src="img/client/f2.jpg", alt="")
			.item
				.result-img
					img(src="img/client/f3.jpg", alt="")
			.item
				.result-img
					img(src="img/client/f4.jpg", alt="")
			.item
				.result-img
					img(src="img/client/f5.jpg", alt="")
footer
	img(src="img/footer.jpg", alt="")